---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* site colors
light shades: FAF9F8
		Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
light accent: 838384
		Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
main brand color: CB324E
		This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
dark accent: 656566
		Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
dark shades: 242535
		Use as the text color for dark-on-light designs, or as the background for inverted designs.
*/

@import "minima";

:root{
	--light-shade: #FAF9F8;
	--lighter-accent: #C2C2C2;
	--light-accent: #838384;
	--main-color-light: #E699A7;
	--main-color: #CB324E;
	--main-color-dark: #661928;
	--dark-accent: #656566;
	--darker-accent: #333333;
	--dark-shade: #242535;

	--game-img-width: 315px;
	--game-img-height: 250px;
	--game-img-radius: 15px;
}

body{
	background: var(--light-shade);
}

.logo{
	height: 50px;
	width: 50px;
	float: left;
}

.game-main-wrapper{
	background: var(--lighter-accent);
	padding: 30px;
	border-radius: 25px;
	margin-bottom: 50px;
}

.game-info-img-wrapper{
	display: flex;
	justify-content:space-between;
}

.game-info-wrapper{

}

h1.site-title{
	color: var(--main-color);
	font-size: 36pt;
	font-weight: bold;
	margin-left: 10px;
}

h1.game-page-title{
	color: var(--main-color);
	font-size: 32pt;
	font-weight: bold;
	margin: 0;
}

h2.game-title{
	color: var(--main-color);
	font-size: 24pt;
	font-weight: bold;
	margin: 0;
}

h2.game-page-subtitle{
	color: var(--dark-accent);
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 16;
}

h3.game-subtitle{
	color: var(--dark-accent);
	font-size: 16pt;
	font-weight: bold;
	margin-top: 0;
}

.game-description{
	color: var(--dark-shade);
	font-size: 14pt;
	font-weight: normal;
}

.game-button-wrapper{
	display: flex;
	justify-content: center;
}

.game-button{
	background: var(--main-color);
	border: none;
	color: var(--light-shade);
	font-size: 14pt;
	font-weight: bold;
	width: 115px;
	height: 50px;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.game-button:hover{
	background: var(--light-shade);
	color: var(--main-color);
}

.game-img-wrapper{
	width: 500px;
	height: var(--game-img-height);
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	align-items: center;
}

.game-img{
	width: 100%;
	height: 80%;
	border-radius: var(--game-img-radius);
	background-image: var(--cover);
	background-size: cover;
	background-position: center;
}

.game-img:hover{
	background-image: var(--sample);
}
